<a href="https://colab.research.google.com/github/nafiz512/Data-Mining/blob/main/Learn_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Pandas Tutorial
<h3>Pandas is a Python library used to analyze data.

Importing pandas

In [3]:
import pandas as pd
print(pd.__version__)

2.2.2

<h3>Pandas is a Python library used for working with data sets.<br>It has functions for analyzing, cleaning, exploring, and manipulating data.

Create a pandas Series

In [4]:
data=["BMW","Mercedes","Audi"]
s=pd.Series(data)
print(s)

0         BMW
1    Mercedes
2        Audi
dtype: object

<h2>Create a pandas DataFrame

In [5]:
dataset={
    'cars':["BMW","Mercedes","Audi"],
    'passing':[3,7,2]
}
df=pd.DataFrame(dataset)
print(df)

       cars  passing
0       BMW        3
1  Mercedes        7
2      Audi        2

<h1>Panda's Series<br>
<h3>A Pandas Series is like a column in a table.<br>It is a one-dimensional array holding data of any type

In [6]:
a = (10, 70, 20)

myvar = pd.Series(a)

print(myvar)
print(myvar[1])

0    10
1    70
2    20
dtype: int64
70

<h3>Create Labels

In [7]:
# With the index argument, you can name your own labels.
a=[i*10 for i in range(1,5)]
myvar=pd.Series(a,index=["a1","a2","a3","a4"])
print(myvar)
print(myvar['a3'])

a1    10
a2    20
a3    30
a4    40
dtype: int64
30

<h3>You can also use a key/value object, like a dictionary, when creating a Series.

In [8]:
calories={"day1":[420,500],"day2":[300,450],"day3":380}
s=pd.Series(calories)
print(s)
df=pd.DataFrame(calories)
print(df)

day1    [420, 500]
day2    [300, 450]
day3           380
dtype: object
   day1  day2  day3
0   420   300   380
1   500   450   380

In [9]:
#Creating series using data from "day1" and "day3"
myvar=pd.Series(calories,index=["day1","day3"])
print(myvar)

day1    [420, 500]
day3           380
dtype: object

<h1>Panda's dataFrame<br>
<h3>Data sets in Pandas are usually multi-dimensional tables, called DataFrames.
<br>A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.Series is like a column, a DataFrame is the whole table.

In [10]:
# Create a DataFrame from two Series:
data={"calories":[420,380,390],"duration":[50,40,45],
      "duration":[50,40,45]}

df=pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

<h3>Locate Row : Pandas use the loc attribute to return one or more specified row(s)

In [11]:
# refer to the row index:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [12]:
print(df.loc[0:2])#include last index 2
print(df.iloc[0:2])# exclude last index2

   calories  duration
0       420        50
1       380        40
2       390        45
   calories  duration
0       420        50
1       380        40

<h2>Locate Column

In [16]:
print(df["calories"])
print(df["duration"])
print(df.loc[2,'calories'])

0    420
1    380
2    390
Name: calories, dtype: int64
0    50
1    40
2    45
Name: duration, dtype: int64
390

<h2>Named Indexes :
<h3>With the index argument, you can name your own indexes.

In [17]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
df=pd.DataFrame(data,index=['day1','day2','day3'])
print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45